@import "tailwindcss";

:root {
  --background: #FBFFCD;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #1C5560;
  --color-secondary: #001F36;
  --color-accent: #79AE92;
  --color-text: #000000;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
